@{
    ViewBag.Title = "About";
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Come here Enjoy The taste.</p>
